::selection{
    color: #fff;
    background: #F2E7E5;
  }
  /* .skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  } */
  .skill-bars .bar{
    margin: 20px 0;
  }
  /* .skill-bars .bar:first-child{
    margin-top: 0px;
  } */
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  /* .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  } */
  .skill-bars .bar .progress-line{
    height: 8px;
    width: 100%;
    background: #cad7d2;
    position: relative;
    transform: scaleX(1);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #AB5232;
    animation: animate 2s  cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 95%;
  }
  .bar .progress-line.css span{
    width: 90%;
  }
  .bar .progress-line.jquery span{
    width: 60%;
  }
  .bar .progress-line.JavaScript span{
    width: 75%;
  }
  .bar .progress-line.Bootstrap4 span{
    width: 85%;
  }
  .bar .progress-line.Reactjs span{
    width: 70%;
  }
  .bar .progress-line.figma span{
    width: 60%;
  }
  .bar .progress-line.Github span{
    width: 60%;
  }
  .bar .progress-line.wordpress span{
    width: 90%;
  }
  .bar .progress-line.canva span{
    width: 80%;
  }
  .bar .progress-line.shopify span{
    width: 70%;
  }
.bar .progress-line.SEO span{
    width: 60%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #F2E7E5;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #F2E7E5;
    color: #AB5232;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "95%";
  }
  .progress-line.css span::after{
    content: "90%";
  }
  .progress-line.JavaScript span::after{
    content: "75%";
  }
  .progress-line.jquery span::after{
    content: "60%";
  }
  .progress-line.figma span::after{
    content: "60%";
  }
  .progress-line.Bootstrap4 span::after{
    content: "85%";
  }
  .progress-line.Reactjs span::after{
    content: "70%";
  }
  .progress-line.Github span::after{
    content: "70%";
  }
  .progress-line.SEO span::after{
    content: "60%";
  }
  .progress-line.wordpress span::after{
    content: "90%";
  }
  .progress-line.canva span::after{
    content: "80%";
  }
  .progress-line.shopify span::after{
    content: "70%";
  }
